<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="mea_template" value='
  /begin MEASUREMENT %%name%%
    %%longid%%
    %%datatype%%
    %%compumethod%%
    1
    100
    %%min%%
    %%max%%
    %%array%%
    ECU_ADDRESS 0x00000000
  /end MEASUREMENT
         '></add>


    <add key="par_template" value='
  /begin CHARACTERISTIC %%name%% 
    %%longid%%
    %%type%% 
    0x00000000 
    %%recordlayout%%
    0 
    %%compumethod%% 
    %%min%%
    %%max%%
    %%array%%
  /end CHARACTERISTIC
         '></add>


    <add key="Dem_Cfg_EventId" value='

/*                                                                                                                     
********************************************************************************************************************** 
*                                                                                                                      
* COPYRIGHT RESERVED, 2010 Robert Bosch GmbH. All rights reserved.                                                     
* The reproduction, distribution and utilization of this document as well as the communication of its contents to      
* others without explicit authorization is prohibited. Offenders will be held liable for the payment of damages.       
* All rights reserved in the event of the grant of a patent, utility model or design.                                  
*                                                                                                                      
********************************************************************************************************************** 
*/                                                                                                                     

/********************************************************************************************************************/
/*                                                                                                                  */
/* TOOL-GENERATED SOURCECODE, DO NOT CHANGE                                                                         */
/*                                                                                                                  */
/********************************************************************************************************************/


#ifndef DEM_CFG_EVENTID_H
#define DEM_CFG_EVENTID_H


#define DEM_EVENTID_INVALID                                          0
#define DEM_EVENTID_COUNT         196
#define DEM_EVENTID_ARRAYLENGTH   (DEM_EVENTID_COUNT+1)

#define DemConf_DemEventParameter_DEM_AlOfsNoPlaus                   1
#define DemConf_DemEventParameter_DEM_BMS01_Checksum                 2
#define DemConf_DemEventParameter_DEM_BMS01_RollingCounter           3
#define DemConf_DemEventParameter_DEM_BMS01_Timeout                  4
#define DemConf_DemEventParameter_DEM_CANErr_HW                         5
#define DemConf_DemEventParameter_DEM_Can_BusOff_0                     6
#define DemConf_DemEventParameter_DEM_Cpld1v8ShrBat                  7
#define DemConf_DemEventParameter_DEM_Cpld1v8ShrGnd                  8
#define DemConf_DemEventParameter_DEM_Cpld3v3ShrBat                  9
#define DemConf_DemEventParameter_DEM_Cpld3v3ShrGnd                  10
#define DemConf_DemEventParameter_DEM_CpldNen33_HW                      11
#define DemConf_DemEventParameter_DEM_Crash_HW                          12
#define DemConf_DemEventParameter_DEM_Dc12vLoRng                     13
#define DemConf_DemEventParameter_DEM_DcLnkOV_HW                        14
#define DemConf_DemEventParameter_DEM_DcLnkShrBat                    15
#define DemConf_DemEventParameter_DEM_DiashCirNoPsbl                 16
#define DemConf_DemEventParameter_DEM_EmacBlkd                       17
#define DemConf_DemEventParameter_DEM_EppOC_HW                          18
#define DemConf_DemEventParameter_DEM_EppPosMonShrBat                19
#define DemConf_DemEventParameter_DEM_EppPosMonShrGnd                20
#define DemConf_DemEventParameter_DEM_EppPosShrBat                   21
#define DemConf_DemEventParameter_DEM_EppPosShrGnd                   22
#define DemConf_DemEventParameter_DEM_ErrPwrEfuse                    23
#define DemConf_DemEventParameter_DEM_GateDrvHsShrBat                24
#define DemConf_DemEventParameter_DEM_GateDrvHsShrGnd                25
#define DemConf_DemEventParameter_DEM_GateDrvLsShrBat                26
#define DemConf_DemEventParameter_DEM_GateDrvLsShrGnd                27
#define DemConf_DemEventParameter_DEM_ICtlRat                        28
#define DemConf_DemEventParameter_DEM_IDcLnkOc                       29
#define DemConf_DemEventParameter_DEM_uBrShrErr                  30
#define DemConf_DemEventParameter_DEM_Can_BusOff_1                  31
#define DemConf_DemEventParameter_DEM_IEPPShrBat                     32
#define DemConf_DemEventParameter_DEM_CpldSigNoMatch                  33
#define DemConf_DemEventParameter_DEM_SttrSenorShrErr                  34
#define DemConf_DemEventParameter_DEM_IEfuseShrBat                   35
#define DemConf_DemEventParameter_DEM_IMosHiRng                      36
#define DemConf_DemEventParameter_DEM_EmacBlkdLv1                   37
#define DemConf_DemEventParameter_DEM_EmacBlkdLv2                   38
#define DemConf_DemEventParameter_DEM_IUOc                           39
#define DemConf_DemEventParameter_DEM_EmacBlkdLv3                      40
#define DemConf_DemEventParameter_DEM_UDcLnkOvWarn                      41
#define DemConf_DemEventParameter_DEM_IDcLnkOcWarn                   42
#define DemConf_DemEventParameter_DEM_TSttrOvHiWarn                   43
#define DemConf_DemEventParameter_DEM_IVOc                           44
#define DemConf_DemEventParameter_DEM_TSttrOvLoWarn                      45
#define DemConf_DemEventParameter_DEM_tDBCTempOvHiWarn                      46
#define DemConf_DemEventParameter_DEM_tDBCTempOvLoWarn                   47
#define DemConf_DemEventParameter_DEM_SpdOvHiWarn                  48
#define DemConf_DemEventParameter_DEM_IWOc                           49
#define DemConf_DemEventParameter_DEM_UDcLnkLvWarn                      50
#define DemConf_DemEventParameter_DEM_TBD30                      51
#define DemConf_DemEventParameter_DEM_IdcLnkOffCal                   52
#define DemConf_DemEventParameter_DEM_IphaOC_HW                         53
#define DemConf_DemEventParameter_DEM_IphaOffCal                     54
#define DemConf_DemEventParameter_DEM_RslvOpen                      55
#define DemConf_DemEventParameter_DEM_NFltHA_HW                         56
#define DemConf_DemEventParameter_DEM_NFltHB_HW                         57
#define DemConf_DemEventParameter_DEM_NFltLA_HW                         58
#define DemConf_DemEventParameter_DEM_NFltLB_HW                         59
#define DemConf_DemEventParameter_DEM_OpenCirNoPsbl                  60
#define DemConf_DemEventParameter_DEM_OperOutdRng                    61
#define DemConf_DemEventParameter_DEM_OverSpdDetn                    62
#define DemConf_DemEventParameter_DEM_PrfElDrv                       63
#define DemConf_DemEventParameter_DEM_QcoShrBat                      64
#define DemConf_DemEventParameter_DEM_QcoShrGnd                      65
#define DemConf_DemEventParameter_DEM_Qt1ShrBat                      66
#define DemConf_DemEventParameter_DEM_Qt1ShrGnd                      67
#define DemConf_DemEventParameter_DEM_Qt2ShrBat                      68
#define DemConf_DemEventParameter_DEM_Qt2ShrGnd                      69
#define DemConf_DemEventParameter_DEM_RslvDos                        70
#define DemConf_DemEventParameter_DEM_RslvLos                        71
#define DemConf_DemEventParameter_DEM_RslvLot                        72
#define DemConf_DemEventParameter_DEM_SensorRng                      73
#define DemConf_DemEventParameter_DEM_StallmotRng                    74
#define DemConf_DemEventParameter_DEM_StrCrntChk                     75
#define DemConf_DemEventParameter_DEM_TBD32                   76
#define DemConf_DemEventParameter_DEM_SttrTemp1ShrBat                77
#define DemConf_DemEventParameter_DEM_SttrTemp1ShrGnd                78
#define DemConf_DemEventParameter_DEM_SttrTemp2ShrBat                79
#define DemConf_DemEventParameter_DEM_SttrTemp2ShrGnd                80
#define DemConf_DemEventParameter_DEM_TCoolantOvHiLim                81
#define DemConf_DemEventParameter_DEM_TCoolantOvLoLim                82
#define DemConf_DemEventParameter_DEM_TCoolantShrt2Bat               83
#define DemConf_DemEventParameter_DEM_TCoolantShrt2Gnd               84
#define DemConf_DemEventParameter_DEM_TimeovRng                      85
#define DemConf_DemEventParameter_DEM_TSttrOvHiLim                  86
#define DemConf_DemEventParameter_DEM_TSttrOvLoLim                  87
#define DemConf_DemEventParameter_DEM_TBD11                  88
#define DemConf_DemEventParameter_DEM_TBD12                  89
#define DemConf_DemEventParameter_DEM_TUErrOff                       90
#define DemConf_DemEventParameter_DEM_TVErrOff                       91
#define DemConf_DemEventParameter_DEM_TWErrOff                       92
#define DemConf_DemEventParameter_DEM_U1v3OvHiLim                    93
#define DemConf_DemEventParameter_DEM_U1v3OvLoLim                    94
#define DemConf_DemEventParameter_DEM_U3v3OvHiLim                    95
#define DemConf_DemEventParameter_DEM_U3v3OvLoLim                    96
#define DemConf_DemEventParameter_DEM_MotorOpenWarn                 97
#define DemConf_DemEventParameter_DEM_InvOpenWarn                 98
#define DemConf_DemEventParameter_DEM_UBrNarrShrt2Bat                99
#define DemConf_DemEventParameter_DEM_UBrNarrShrt2Gnd                100
#define DemConf_DemEventParameter_DEM_MotorOpenErr                101
#define DemConf_DemEventParameter_DEM_InvOpenErr                 102
#define DemConf_DemEventParameter_DEM_UBrWideShrt2Bat                103
#define DemConf_DemEventParameter_DEM_UBrWideShrt2Gnd                104
#define DemConf_DemEventParameter_DEM_UCpld1v8OvHiLim                105
#define DemConf_DemEventParameter_DEM_UCpld1v8OvLoLim                106
#define DemConf_DemEventParameter_DEM_UCpld3v3OvHiLim                107
#define DemConf_DemEventParameter_DEM_UCpld3v3OvLoLim                108
#define DemConf_DemEventParameter_DEM_UKl30WarnHi                        109
#define DemConf_DemEventParameter_DEM_UKl30ErrHi                   110
#define DemConf_DemEventParameter_DEM_UKl30ErrLo                   111
#define DemConf_DemEventParameter_DEM_UKl30WarnLo                       112
#define DemConf_DemEventParameter_DEM_ULemGndOHiLim                  113
#define DemConf_DemEventParameter_DEM_VerMatchErr                 114
#define DemConf_DemEventParameter_DEM_UMonShrBat                     115
#define DemConf_DemEventParameter_DEM_UMonShrGnd                     116
#define DemConf_DemEventParameter_DEM_UQcoOvHiLim                    117
#define DemConf_DemEventParameter_DEM_UQcoOvLoLim                    118
#define DemConf_DemEventParameter_DEM_UQt1OvHiLim                    119
#define DemConf_DemEventParameter_DEM_UQt1OvLoLim                    120
#define DemConf_DemEventParameter_DEM_UQt2OvHiLim                    121
#define DemConf_DemEventParameter_DEM_UQt2OvLoLim                    122
#define DemConf_DemEventParameter_DEM_UQucOvHiLim                    123
#define DemConf_DemEventParameter_DEM_UQucOvLoLim                    124
#define DemConf_DemEventParameter_DEM_URslvExcNOvHiLim               125
#define DemConf_DemEventParameter_DEM_URslvExcNOvLoLim               126
#define DemConf_DemEventParameter_DEM_URslvExcNShrt2Bat              127
#define DemConf_DemEventParameter_DEM_URslvExcNShrt2Gnd              128
#define DemConf_DemEventParameter_DEM_URslvExcPOvHiLim               129
#define DemConf_DemEventParameter_DEM_URslvExcPOvLoLim               130
#define DemConf_DemEventParameter_DEM_URslvExcPShrt2Bat              131
#define DemConf_DemEventParameter_DEM_URslvExcPShrt2Gnd              132
#define DemConf_DemEventParameter_DEM_UShrBat                        133
#define DemConf_DemEventParameter_DEM_UShrGnd                        134
#define DemConf_DemEventParameter_DEM_UdcLnkOvVLim                  135
#define DemConf_DemEventParameter_DEM_UdcLnkUnVLim                 136
#define DemConf_DemEventParameter_DEM_UdcLnkPlaus                    137
#define DemConf_DemEventParameter_DEM_V18_Ctrl_Error                 138
#define DemConf_DemEventParameter_DEM_VCU01_Checksum                 139
#define DemConf_DemEventParameter_DEM_VCU01_RollingCounter           140
#define DemConf_DemEventParameter_DEM_VCU01_Timeout                  141
#define DemConf_DemEventParameter_DEM_VCU02_Timeout                  142
#define DemConf_DemEventParameter_DEM_VCU03_Checksum                 143
#define DemConf_DemEventParameter_DEM_VCU03_RollingCounter           144
#define DemConf_DemEventParameter_DEM_VCU03_Timeout                  145
#define DemConf_DemEventParameter_DEM_VCU04_Checksum                 146
#define DemConf_DemEventParameter_DEM_VCU04_RollingCounter           147
#define DemConf_DemEventParameter_DEM_VCU04_Timeout                  148
#define DemConf_DemEventParameter_DEM_VCU05_Timeout                  149
#define DemConf_DemEventParameter_DEM_VCU06_Timeout                  150
#define DemConf_DemEventParameter_DEM_VMonShrBat                     151
#define DemConf_DemEventParameter_DEM_VMonShrGnd                     152
#define DemConf_DemEventParameter_DEM_VShrBat                        153
#define DemConf_DemEventParameter_DEM_VShrGnd                        154
#define DemConf_DemEventParameter_DEM_TBD15                   155
#define DemConf_DemEventParameter_DEM_TBD16                   156
#define DemConf_DemEventParameter_DEM_WMonShrBat                     157
#define DemConf_DemEventParameter_DEM_WMonShrGnd                     158
#define DemConf_DemEventParameter_DEM_WShrBat                        159
#define DemConf_DemEventParameter_DEM_WShrGnd                        160
#define DemConf_DemEventParameter_DEM_flgDisChgFail                  161
#define DemConf_DemEventParameter_DEM_tDBCTempUHiLom                 162
#define DemConf_DemEventParameter_DEM_tDBCTempULoLom                 163
#define DemConf_DemEventParameter_DEM_tDBCTempVHiLom                 164
#define DemConf_DemEventParameter_DEM_tDBCTempVLoLom                 165
#define DemConf_DemEventParameter_DEM_tDBCTempWHiLom                 166
#define DemConf_DemEventParameter_DEM_tDBCTempWLoLom                 167
#define DemConf_DemEventParameter_DEM_uGateDrvHsHiLim                168
#define DemConf_DemEventParameter_DEM_uGateDrvHsLoLim                169
#define DemConf_DemEventParameter_DEM_uGateDrvLsHiLim                170
#define DemConf_DemEventParameter_DEM_uGateDrvLsLoLim                171
#define DemConf_DemEventParameter_DEM_TBD17                    172
#define DemConf_DemEventParameter_DEM_TBD18                    173
#define DemConf_DemEventParameter_DEM_DrvHsErr                     174
#define DemConf_DemEventParameter_DEM_DrvLsErr                     175
#define DemConf_DemEventParameter_DEM_SBC                          176
#define DemConf_DemEventParameter_DEM_ShutDownOverTime             177
#define DemConf_DemEventParameter_DEM_FlashWriteError              178
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_18V_UV            179
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Conf4Failed       180
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Conf3Failed       181
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Conf2Failed       182
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Conf1Failed       183
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Conf0Failed       184
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_Opm4Unreacheable  185
#define DemConf_DemEventParameter_DEM_CddIgbtDrv_InternalError     186
#define DemConf_DemEventParameter_DEM_Check_5VQT_Timeout_Flag      187
#define DemConf_DemEventParameter_DEM_Hvmcu_Crc                    		188
#define DemConf_DemEventParameter_DEM_TBD3                         189
#define DemConf_DemEventParameter_DEM_TBD4                         190
#define DemConf_DemEventParameter_DEM_TBD5                         191
#define DemConf_DemEventParameter_DEM_TBD6                         192
#define DemConf_DemEventParameter_DEM_TBD7                         193
#define DemConf_DemEventParameter_DEM_TBD8                         194
#define DemConf_DemEventParameter_DEM_TBD9                         195
#define DemConf_DemEventParameter_DEM_TBD10                        196




#endif

'></add>



    <add key="FiM_Cfg_Fids" value='
         /*                                                                                                                     
********************************************************************************************************************** 
*                                                                                                                      
* COPYRIGHT RESERVED, 2010 Robert Bosch GmbH. All rights reserved.                                                     
* The reproduction, distribution and utilization of this document as well as the communication of its contents to      
* others without explicit authorization is prohibited. Offenders will be held liable for the payment of damages.       
* All rights reserved in the event of the grant of a patent, utility model or design.                                  
*                                                                                                                      
********************************************************************************************************************** 
*/                                                                                                                     


#ifndef FIM_CFG_FIDS_H
#define FIM_CFG_FIDS_H

/*
**********************************************************************************************************************
* Includes
**********************************************************************************************************************
*/

#include "FiM_Types.h"


/*  short name           FId value */
    #define FiMConf_FiMFID_FID_DiagEmacBlkd    (1)
    #define FiMConf_FiMFID_FID_DiagNOutdRng    (2)
    #define FiMConf_FiMFID_FID_DiagActvShoNotPsbl    (3)
    #define FiMConf_FiMFID_FID_DiagFwNotPsbl    (4)
    #define FiMConf_FiMFID_FID_DiagPosnSnsrOfsImps    (5)
    #define FiMConf_FiMFID_FID_DiagActvShoOperOutdRng    (6)
    #define FiMConf_FiMFID_FID_DiagPrfChkElecDt    (7)
    #define FiMConf_FiMFID_FID_Failed    (8)
    #define FiMConf_FiMFID_FID_Unused    (9)
    #define FiMConf_FiMFID_FID_FF    (10)
    #define FiMConf_FiMFID_FID_Sttr1Err    (11)
    #define FiMConf_FiMFID_FID_Sttr2Err    (12)
    #define FiMConf_FiMFID_FID_TLC_trqLim_LvOne   (13)
    #define FiMConf_FiMFID_FID_TLC_trqLim_LvTwo   (14)
    #define FiMConf_FiMFID_FID_TLC_trqLim_LvThree (15)
    #define FiMConf_FiMFID_FID_TLC_trqLim_LvFour  (16)
    #define FiMConf_FiMFID_FID_TLC_pwrLim_LvOne   (17)
    #define FiMConf_FiMFID_FID_TLC_pwrLim_LvTwo   (18)
    #define FiMConf_FiMFID_FID_TLC_pwrLim_LvThree (19)
    #define FiMConf_FiMFID_FID_TLC_pwrLim_LvFour  (20)
    #define FiMConf_FiMFID_FID_UBrNarrShrErr 		(21)
    #define FiMConf_FiMFID_FID_UBrWideShrErr  		(22)
	#define FiMConf_FiMFID_ID_OpenCirNPsbl  		(23)
	#define FiMConf_FiMFID_FID_IctlRat  			(24)
	#define FiMConf_FiMFID_FID_RslvOpen  			 (25)
	#define FiMConf_FiMFID_SMG_Drv_DchaFailrModFID_C  (26)
	#define FiMConf_FiMFID_HvMCU_Crc  				 (27)
    #define FiMConf_FiMFID_FID_RotLock   (28)

    #define FiMConf_FiMFID_FID_TBD_2  (29)
	#define FiMConf_FiMFID_FID_TBD_3  (30)
	#define FiMConf_FiMFID_FID_TBD_4  (31)
	#define FiMConf_FiMFID_FID_TBD_5  (32)
	#define FiMConf_FiMFID_FID_TBD_6  (33)
	#define FiMConf_FiMFID_FID_TBD_7  (34)
	#define FiMConf_FiMFID_FID_TBD_8  (35)
	#define FiMConf_FiMFID_FID_TBD_9  (36)
	#define FiMConf_FiMFID_FID_TBD_10  (37)
	#define FiMConf_FiMFID_FID_TBD_11  (38)
	#define FiMConf_FiMFID_FID_TBD_12  (39)
	#define FiMConf_FiMFID_FID_TBD_13  (40)
	#define FiMConf_FiMFID_FID_TBD_14  (41)
	#define FiMConf_FiMFID_FID_TBD_15  (42)
	#define FiMConf_FiMFID_FID_TBD_16  (43)
	#define FiMConf_FiMFID_FID_TBD_17  (44)
	#define FiMConf_FiMFID_FID_TBD_18  (45)
	#define FiMConf_FiMFID_FID_TBD_19  (46)
	#define FiMConf_FiMFID_FID_TBD_20  (47)

#define FIM_CFG_NUMBEROFFIDS  (47)
#define FIM_CFG_INVALIDFID  (0)


#endif /* include protection */
'></add>


  </appSettings>
</configuration>